<div class="container-fluid">
  <div class="row mx-auto col-sm-6 col-lg-4 p-3 mb-3 shadow bg-white rounded">

    <div class="col-12 d-flex justify-content-between border-bottom pb-3 mb-3" id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
      <%= link_to user_path(@user) do %>
        <%= image_tag @user.get_profile_image, class: "rounded-circle profile-image" %>
      <% end %>
      <sapn class="username-font font-weight-bold my-auto"><%= @user.name %></span>
    </div>

    <div class="message col-12 dm-bar" id="bar">
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>

          <p class="right-dm-font"><%= chat.message %></p>

        <% else %>

          <p class="left-dm-font mr-5 bg-secondary"><%= chat.message %></p>

        <% end %>
      <% end %>
    </div>

    <div class="col-12 d-flex justify-content-center border-top pt-2 mt-2">
      <%= form_with model: @chat, data: {remote: true} do |f| %>
        <%= f.text_field :message, placeholder: "メッセージ", class: "rounded" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信", class: "btn btn-sm btn-outline-success rounded" , id: "add-btn" %>
        <div class="errors">
          <%= render "public/shared/error_messages", resource: @chat, attribute: :message %>
        </div>
      <% end %>
    </div>
  </div>
</div>