<div class="container-fluid">
	<table class="mx-auto">
		<% if visions.present? %>
			<% visions.each do |vision| %>
			<div class="row col-10 shadow p-3 mb-3 bg-white rounded mx-auto">
				<div class="col-2 d-flex justify-content-center">
					<%= link_to user_path(vision.user) do %>
					<div class="profile_image"><%= image_tag vision.user.get_profile_image, size: "100x100", class: "rounded-circle" %></div>
					<div class="text-center user-name"><%= vision.user.name %></div>
					<% end %>
			  </div>
			  <div class="col">
			  	<%= link_to vision_path(vision) do %>
			  	<p><%= vision.title %></p>
			  	<p><%= vision.tasks.count %></p>
			  	<% end %>
			  </div>
			  <div class="col">
			  	<%= vision. finish_on %>
					<% if vision.finish_status? %>
				    <span>'Granted!!'</span>
				  <% else %>
				    <span>'On the Way'<span>
				  <% end %>
				</div>
			</div>
			<% end %>
		<% else %>
			<h3>対応する投稿はありませんでした。</h3>
		<% end %>
	</div>
</div>