<div class="row p-sm-3 mb-3 mx-auto p-0">

  <div class="col-md-3 d-flex justify-content-center my-auto ">
    <%= link_to user_path(vision.user) do %>
      <div class="profile_image pb-3"><%= image_tag vision.user.get_profile_image, size: "125x125", class: "rounded-circle" %></div>
      <div class="text-center text-dark"><%= vision.user.name %></div>
    <% end %>
  </div>

  <div class="col-md-9">
    <div class="row mt-4 mt-md-0">

      <div class="col-9 text-left d-flex my-auto">
        <h4 class="mr-3 vision-font"><%= vision.title %></h4>
        <% if vision.user == current_user %>
          <%= link_to edit_vision_path(vision.id) do%>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col-3 p-2 text-right">
        <i class="fas fa-tags sm-fa-2x mr-1"></i>
        <%= link_to vision.genre.name, visions_path(genre_id: vision.genre_id) %>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 mb-md-0 mb-4"><%= vision.body %></div>

      <div class="col text-center my-auto px-0">
        <%= render "public/visions/count", vision: vision %>
      </div>

      <% if vision.user == current_user %>
        <div class="col-sm-5 col-8 text-center my-auto ml-auto">
          <!--全タスク完了か否か分岐-->
          <% if vision.tasks.where(completion_status: true).count == vision.tasks.count && vision.tasks.count != 0 %>
            <!--全タスク完了時のファイルアップロード状況-->
            <% if vision.production.present? %>
              <%= link_to rails_blob_path(vision.production, disposition: "inline") do %>
  			  	    <%= "Download file" %>
              <% end %>

  	  	    <% else %>
  	  	      <%= form_with model:vision, url: vision_path(vision) do |f| %>
  	  	        <%= f.file_field :production %>
  	  	        <%= f.submit "アップロード" %>
              <% end %>
            <% end %>

          <% else %>
            <%= form_with model:[vision, @task], url: vision_tasks_path(vision.id), method: :post  do |f| %>
              <div class="col mb-3 px-0">
                <%= f.text_field :content, placeholder: "TASK", class: 'form-control task_content' %>
              </div>
              <div class="text-left font"><%= render "public/shared/error_messages", resource: @task, attribute: :content %></div>

              <div class="col mb-3 px-0 d-flex justify-content-between">
                <%= f.date_select :completion_on, use_month_numbers: true, start_year: Time.now.year, end_year: vision.finish_on.year, selected: Date.today %>
                <button class="btn btn-primary btn-sm opacity-50 rounded-pill"><i class="fas fa-plus"></i></button>
              </div>
              <div class="text-left font"><%= render "public/shared/error_messages", resource: @task, attribute: :completion_on %></div>

            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
