<div class="row">
  <div class="col-3 d-flex justify-content-center my-auto">
    <%= link_to user_path(@vision.user) do %>
      <div class="profile_image pb-3"><%= image_tag @vision.user.get_profile_image, class: "rounded-circle profile-image" %></div>
      <div class="text-center text-dark font-weight-bold username-font"><%= @vision.user.name %></div>
    <% end %>
  </div>

  <div class="col-9 my-auto">
    <div class="row my-4">

      <div class="col-9 text-left d-flex">
        <h4 class="mr-3 vision-font"><%= @vision.title %></h4>
        <% if @vision.user == current_user %>
          <%= link_to edit_vision_path(@vision) do%>
            <i class="fas fa-edit edit-icon"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col-3 px-2 text-right">
        <i class="fas fa-tags mr-1 genre-icon"></i>
        <%= link_to @vision.genre.name, visions_path(genre_id: @vision.genre_id), class: "genre-font" %>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-sm-5 col-7 font my-auto"><%= @vision.body %></div>

      <div class="col text-center my-auto">
        <%= render "public/visions/count", vision: @vision %>
      </div>

    
    <% if vision.user == current_user %>
      <div class="col-sm-5 text-center my-auto ml-auto">
      <!--тЁесѓ┐сѓ╣сѓ»т«їС║єсЂІтљдсЂІтѕєт▓љ-->
        <!--тЁесѓ┐сѓ╣сѓ»т«їС║єТЎѓ-->
        <% if vision.tasks.where(completion_status: true).count == vision.tasks.count && vision.tasks.count != 0 %>
          <!--тЁесѓ┐сѓ╣сѓ»т«їС║єТЎѓсЂ«тєЎуюЪсѓбсЃЃсЃЌсЃГсЃ╝сЃЅуіХТ│Ђ-->
          <% if vision.production_image.present? %>
            <p><%= image_tag vision.production_image, class: "rounded production-image" %></p>

          <% else %>
            <%= form_with model:vision, url: vision_path(vision) do |f| %>
              <%= f.label :production_image do %>
                <p class="font">
                  ­ЪјЅжЂћТѕљсЂісѓЂсЂДсЂесЂєсЂћсЂќсЂёсЂЙсЂЎ­ЪјЅ<br>
                  сЂЊсЂЊсѓњсѓ»сЃфсЃЃсѓ»сЂЌсЂдУеўт┐хтєЎуюЪсѓњ<br>
                  сѓбсЃЃсЃЌсЂЌсЂЙсЂЌсѓЄсЂє№╝Ђ№╝Ђ­ЪЉє
                  </p>
                <%= f.file_field :production_image, class: "d-none" %>
                <%= f.submit "сѓбсЃЃсЃЌсЃГсЃ╝сЃЅ" %>
              <% end %>
            <% end %>
          <% end %>
        
        <!--Тюфт«їС║єсѓ┐сѓ╣сѓ»сЂїсЂѓсѓІта┤тљѕ-->
        <% else %>
          <%= form_with model:[vision, @task], url: vision_tasks_path(vision.id), method: :post  do |f| %>
            <div class="col mb-3 px-0">
              <%= f.text_field :content, placeholder: "TASK", class: 'form-control-sm task_content' %>
            </div>
            <div class="text-left font"><%= render "public/shared/error_messages", resource: @task, attribute: :content %></div>

            <div class="col data-font px-0 d-flex justify-content-between">
              <%= f.date_select :completion_on, use_month_numbers: true, start_year: Time.now.year, end_year: vision.finish_on.year, selected: Date.today %>
              <button class="btn btn-primary btn-sm opacity-50 rounded-pill"><i class="fas fa-plus"></i></button>
            </div>
            <div class="text-left font"><%= render "public/shared/error_messages", resource: @task, attribute: :completion_on %></div>

          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="col-sm-5 text-center my-auto ml-auto">
      <!--тЁесѓ┐сѓ╣сѓ»т«їС║єсЂІтљдсЂІтѕєт▓љ-->
        <!--тЁесѓ┐сѓ╣сѓ»т«їС║єТЎѓ-->
        <% if vision.tasks.where(completion_status: true).count == vision.tasks.count && vision.tasks.count != 0 %>
          <p><%= image_tag vision.get_production_image, class: "rounded production-image" %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>