<div class="container">
  <h5 id="hello" class="col-6 mx-auto font-weight-bold bg-dark text-white text-center"><%= flash[:hello] %></h5>
  <div class="col-lg-3 col-sm-5 col-9 mx-auto pb-4">
    <%= render 'public/searchs/search' %>
  </div>

  <div class="container-fluid">
  <!--タブ部分-->
    <div class="row col-sm-10 mx-auto tab-list list-unstyled px-sm-3 px-0">
      <div class="col-lg-2 col-2 shadow border rounded tab tab-active">
        ALL
      </div>

      <div class="col-lg-2 col-2 shadow border rounded tab">
        WAY
      </div>

      <div class="col-lg-2 col-2 shadow border rounded tab">
        FINISH
      </div>

      <div class="col my-auto">
        <%= render "admin/genres/search", genre: @genre %>
      </div>
    </div>
    <!--タブで選択された要素部分-->
    <div class="row col-sm-10  mx-auto tabbox box-show ">
      <%= render "index", visions: @visions %>
    </div>

    <div class="row col-10 mx-auto tabbox">
      <%= render "index", visions: @visions_still %>
    </div>

    <div class="row col-10 mx-auto tabbox">
      <%= render "index", visions: @visions_finish %>
    </div>

  </div>
</div>