<div class="container-lg">
  <div class="col-lg-10 col-12 shadow p-3 bg-white rounded mx-auto">
    <%= render "public/visions/vision_show", vision: @vision %>

    <div class="container-fluid mt-5">
  <!--タブ部分-->
    <div class="row col-sm-10 mx-auto tab-list list-unstyled px-sm-3 px-0 pb-3 d-flex justify-content-between">
      <div>
      <span class="col-lg-2 col-3 shadow border rounded tab tab-active">
        INcomplete
      </span>

      <sapn class="col-lg-2 col-3 shadow border rounded tab">
        Conmplete
      </span>
      </div>

      <div class="row mr-4">
        <div class=<%= "fight-" + @vision.id.to_s %>>
          <%= render 'public/fights/btn', vision: @vision %>
        </div>
        <div class="ml-3">
          <%= render 'public/vision_comments/btn', vision: @vision %>
        </div>
      </div>
    </div>

    <!--タブで選択された要素部分-->
    <div class="row col-sm-10 mx-auto tabbox box-show p-0">
      <%= render "public/tasks/yet_index", tasks:  @tasks_yet %>
    </div>

    <div class="row col-sm-10 mx-auto tabbox p-0">
      <%= render "public/tasks/complete_index", tasks: @tasks_complete %>
    </div>
  </div>
</div>