<div class="container-fluid">
  <% tasks_still.each do |t| %>
    <div class="row  mx-auto ">
      <div class="row col-10 border p-3 mb-3 rounded mx-auto bg-danger text-white task-tag">
        <% if (t.completion_on - Date.today) > -1 %>
          <div class="col-4 my-auto">
            <%= link_to edit_vision_task_path(t.vision.id, t.id), {class: "text-light"} do %>
             <%= t.content %>
            <% end %>
          </div>
          <div class="col-5 my-auto">
            残 <%=(t.completion_on - Date.today).to_i %> 日
          </div>
          <div class="col mx-auto">
            <%= form_with model:t, url: vision_complete_path(t.vision.id, t.id), method: :patch do |f| %>
              <%= f.submit "DONE", class: "btn btn-outline-light" %>
            <% end %>
          </div>
    　　　<% else %>
          <div class="col-4 my-auto">
            <%= link_to edit_vision_task_path(t.vision.id, t.id), {class: "text-light"} do%>
              <%= t.content %>
            <% end %>
          </div>
          <div class="col-5 my-auto">
            <i class="fas fa-exclamation-triangle"></i> <%= (t.completion_on - Date.today).to_i * -1 %> 日超過 <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div class="col mx-auto">
            <%= form_with model:t, url: vision_complete_path(t.vision.id, t.id), method: :patch do |f| %>
              <%= f.submit "DONE", class: "btn btn-outline-light" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% tasks_complete.each do |t| %>
  <div class="row  mx-auto ">
      <div class="row col-10 border p-3 mb-3 rounded mx-auto bg-primary text-white">
        <div class="col-4 my-auto">
          <%= t.content %>
        </div>
        <div class="col-5 my-auto">
          <%= t.updated_at.strftime('%Y-%m-%d') %>
        </div>
        <div class="col mx-auto">
          <%= form_with model:t, url: vision_complete_path(t.vision.id, t.id), method: :patch do |f| %>
              <%= f.submit "RETURN", class: "btn btn-outline-light" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
