<!--未完了タスク一覧-->
<% tasks.each do |t| %>
  <div class="row col-sm-10 col-12 border p-3 mb-3 rounded mx-auto bg-light task-tag">

    <div class="col-sm-5 col-12 my-auto font">
      <% if t.vision.user == current_user %>
        <%= link_to edit_vision_task_path(t.vision.id, t.id), {class: "text-dark"} do %>
          <%= t.content %>
        <% end %>
      <% else %>
        <%= t.content %>
      <% end %>
    </div>

    <!--タスク完了日時と現在の日時の差による分岐-->
    <!--タスク完了日時が予定日を過ぎていない場合-->
    <% if (t.completion_on - Date.today) > -1 %>
      <div class="col-6 col-sm-4 my-auto font">
        残 <%=(t.completion_on - Date.today).to_i %> 日
      </div>

      <div class="col text-right">
        <% if t.vision.user == current_user %>
          <%= form_with model:t, url: vision_complete_path(t.vision.id, t.id), method: :patch do |f| %>
            <%= f.submit "DONE", class: "btn btn-outline-danger btn-sm font" %>
          <% end %>
        <% end %>
      </div>

    <!--タスク完了日時が予定日を過ぎている場合-->
    <% else %>
      <div class="col-6 col-sm-4 my-auto font">
        <i class="fas fa-exclamation-triangle" style="color: red;"></i> <%= (t.completion_on - Date.today).to_i * -1 %> 日超過 <i class="fas fa-exclamation-triangle" style="color: red;"></i>
      </div>
      <div class="col text-right">
        <% if t.vision.user == current_user %>
          <%= link_to "EDIT", edit_vision_task_path(t.vision.id, t.id), class: "btn btn-outline-success btn-sm font" %>
        <% end %>
      </div>

    <% end %>
  </div>
<% end %>