<div class="container-fluid">
  <div class="col-xl-3 col-sm-6 shadow p-5 mb-3 rounded mx-auto bg-light text-center">

    <%= form_with model:[@vision, @task], url: vision_task_path(vision_id: @task.vision_id, id: @task.id), method: :patch do |f| %>
      <div class="col mb-3 px-0">
        <%= f.text_field :content, placeholder: "TASK", class: 'form-control task_content' %>
      </div>
      <div class="text-left font"><%= render "public/shared/error_messages", resource: @task, attribute: :content %></div>

      <div class="row mb-3 col">
        <!--完了予定日選択欄-->
        <%= f.date_select :completion_on, use_month_numbers: true, start_year: Time.now.year, end_year: @vision.finish_on.year, selected: @task.completion_on %>
      </div>
      <div class="text-left font"><%= render "public/shared/error_messages", resource: @task, attribute: :completion_on %></div>

      <div class="row justify-content-between">
        <%= link_to 'Destroy',  vision_task_path(vision_id: @vision.id, id: @task.id), method: :delete, data: { confirm: '本当にこのタスクを消しますか？' }, class: "btn btn-outline-danger btn-lg col-4 font" %>
        <%= f.submit "Edit", class: "btn btn-outline-success btn-lg col-4 font" %>
      </div>
    <% end %>

  </div>
</div>
