<div class="container-fluid mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10 col-lg-2 p-3 mb-3 shadow bg-white rounded profile-tag">
      <div class="text-center">
        <%= image_tag @user.get_profile_image, size: "200x200", class: "rounded-circle" %>
      </div>

      <div class="row">
        <div class="col-6">
          <h4 class="mt-3"><%= @user.name %></h4>
          <h6><span><i class="fas fa-birthday-cake"></i></span><%= @user.birthday.strftime('%Y/%m/%d') %></h6>
        </div>

        <div class="col-6 mt-3 text-right my-auto">
          <% if @user != current_user %>
            <%= render "public/relationships/btn", user: @user %>
          <% else %>
            <%= link_to edit_user_path(@user), {class: 'text-dark'} do %>
            <p class="text-right"><i class="fas fa-pen "></i></p>
            <% end %>
          <% end %>
        </div>
      </div>

      <p><%= @user.biography %><p>

      <div class="row col-12 text-center p-0 m-0">
        <p class="col-4 p-0 mx-auto">Posts</p>
        <p class="col-4 p-0 mx-auto">Follow</p>
        <p class="col-4 p-0 mx-auto">Followers</p>
        <p class="col-4"><%= @user.visions.count %></p>
        <p class="col-4"><%= link_to @user.followings.count, user_follow_path(@user), class: "text-dark text-decoration-none" %></p>
        <p class="col-4"><%= link_to @user.followers.count, user_follow_path(@user), class: "text-dark text-decoration-none" %></p>
      </div>
    </div>

    <div class="col-lg-7 col-sm-10">
      <% if @visions.present? %>
        <%= render "public/visions/index", visions: @visions %>
      <% else %>
        <h3>Nothing WAY</h3>
        <% if @user == current_user %>
          <%= link_to "GO NEW WAY", new_vision_path, class: "btn btn-outline-success" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>