<!DOCTYPE html>
<html>
  <head>
    <title>WayMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
      <div class="header-content">
        <ul class="flex">
          <% if admin_signed_in? %>
            <li><%= link_to '投稿一覧',  admin_visions_path %></li>
            <li><%= link_to '会員一覧',  admin_users_path %></li>
            <li><%= link_to 'ジャンル一覧',  admin_genres_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <p>ようこそ、<%= current_user.name %>さん!</p>
            <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
            <li><%= link_to '投稿一覧', visions_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
